<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>列表的过滤</title>
  <script src='../../vue.js' type='text/javascript'></script>
</head>
<body>
  <div id='root'>
    <!-- 遍历数组 -->
    <h2>人员列表</h2>
    <input type="text" v-model="keyWord" placeholder="请输入">
    <ul>
      <li v-for="(person,index) in persons" :key="index">
        {{person.name}}-{{person.age}}-{{person.gender}}</li>
    </ul>
  </div>
  <script type='text/javascript'>
    Vue.config.productionTip = false;
    new Vue({
      el: '#root',
      data:{
        keyWord:"",
        persons: [
          {id: "001", name: "马冬梅", age:18, gender:"女"},
          {id: "002", name: "周冬雨", age:19, gender:"女"},
          {id: "003", name: "周杰伦", age:20, gender:"男"},
          {id: "004", name: "温兆伦", age:22, gender:"男"},
      ]
      },
      watch:{
        keyWord:{
          handler(newValue,oldValue){
            this.persons = this.persons.filter((p)=>{
              return p.name.indexOf(newValue) !== -1;
            })
            console.log("被改了",newValue,oldValue)
          }
        }
      }
    })
  </script>
</body>
</html>